* {
  padding: 0;
  margin: 0;
}

body {
  width: auto;
  background-image: url('images/art-pencil-color-school-education-isolated-1588939-pxhere.com.jpg');
  background-position: 30% 45%;
  background-size: cover;
  font-family: Fascinate;

}

header {
  margin-top: 50px;
}

h1 {
  font-size: 200px;
  font-weight: 900;
  padding-top: 50px;
  text-align: center;
  color: white;
  text-decoration: double;
}




#color-palette {
  text-align: center;
  margin-top: 400px;
  margin-bottom: 100px;
}

.color {
  width: 80px;
  height: 80px;
  border: white currentColor 1px;
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
}

.color:hover {
  opacity: 80%;
  width: 82px;
  height: 82px;
}

.selected {
  width: 80px;
  height: 80px;
  border: white currentColor 1px;
  display: inline-block;
  margin: 10px;
}

#pixel-board {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

}

.pixel-row {
  height: 40px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: black solid 2px;
  display: inline-block;
  background-color: white;

}



#div-botao {
  text-align: center;
  padding-top: 20px;
}

#clear-board {
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: 25px;

}

#board-size {
  width: 60px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  margin-left: 100px;
}

#generate-board {
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: 25px;
}